/* Feuille de style de Vonv pour Foundry VTT */


/* custom du logo en haut à gauche */
#logo {
    left: 35px;
    height: 70px;
    width: 70px;
}

/* menu des scenes */
#navigation #scene-list {
    font-variant: small-caps;
    font-size: 1.2em;
}

/* custom du chat */
#chat-log .message {
    border: 2px solid #7a0a30;
    border-radius: 10px;
    margin: 10px;
}
.dice-roll .dice-formula,
.dice-roll .dice-total {
    line-height: 20px;
}
#chat-log .message {
    margin: 1px;
}

/* réduction des icônes de menu de gauche */
#controls ol.control-tools > li {
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 2px;
}

/* custo des journaux */
.sheet .editor-content {
    font-size: 16px;
}

/* mention "joueurs" */
#players h3 {
    font-size: 0.01em;
}
#players h3 i {
    font-size: 100em;
    line-height: 2em;
}

/* fiche, suppression des textes des outils */
div.actor header a, div.item header a, div.vehicle header a, div.journal-sheet header a {
    font-size: 0.01em;
}
div.actor header a i, div.item header a i, div.vehicle header a i, div.journal-sheet header a i {
    font-size: 100em;
    line-height: 2em;
}

/* liste des scenes compacte */
.scenes-sidebar {
    --sidebar-scene-height: 50px;
}
/* bordure plus large pour les couleurs */
.scenes-sidebar .subdirectory, ol.subdirectory {
    border-left: 5px solid;
}

/* déplacement de la barre de macro */
#hotbar {
    !margin-left: -110px;
}

/* custom du logo en haut à gauche */
#navigation {
    left: 70px;
}
#navigation #scene-list .scene.gm {
    border: 1px solid #163c1a;
}
#controls {
    padding: 37px 15px 0px 0px;
}

/* horloge */
#horloge {
    color: #BBB;
    background-color: #333;
    padding: 5px;
    margin: 2px;
    font-size: 1.2em;
    !right: 0;
    !bottom: 0;
    left: 3px;
    top: 0;
    position: absolute;
    font-family: Arial;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0.8;
    z-index: 1000;
    !width: 50px;
    !height: 20px;
}

/* passage de la colorisation au vert #168a1d */
button:hover,
button:focus {
    box-shadow: 0 0 5px #168a1d;
}
#controls ol.control-tools > li.active,
#controls ol.control-tools > li:hover,
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
    border: 1px solid #168a1d;
    border-bottom-color: #168a1d;
    border-bottom: 1px solid #168a1d;
    box-shadow: 0 0 10px #168a1d;
}
#sidebar-tabs > .item.active {
    border: 1px solid #168a1d;
    box-shadow: 0 0 6px inset #168a1d;
}
#sidebar-tabs {
    border-bottom: 1px solid #168a1d;
    box-shadow: 0 0 10px #168a1d;
}
.tabs .item.active {
    text-shadow: 0 0 10px #168a1d;
}
a:hover {
    text-shadow: 0 0 8px #168a1d;
}
#chat-log .message {
    border: 2px solid #000000;
}
select:focus,
textarea:focus,
text:focus,
input:focus {
    box-shadow: 0 0 8px #168a1d;
}
#hotbar .macro .macro-icon:hover,
#hotbar .macro.inactive:hover,
#hotbar .macro.active:hover {
    box-shadow: 0 0 8px #168a1d inset;
    border: 1px solid #168a1d;
}

/* musique */
#playlists.sound-enhancement .playlist .playlist-header, #playlists-popout.sound-enhancement .playlist .playlist-header {
    background: none;
}
#playlists.sound-enhancement.directory .directory-list .directory-item.document, #playlists-popout.sound-enhancement.directory .directory-list .directory-item.document {
    border-top: 1px solid #168a1d;
}